<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.conversor"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Cotação"
        android:theme="@style/Theme.MyTheme">
        <activity
            android:name=".TelaPrincipal"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="Cotação"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaSobreActivity"
            android:label="@string/title_activity_tela_sobre"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ActivityXml"
            android:label="Xml"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
